.card{
    background: var(--dunkel-color);
    color: var(--weiss-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h2{
    margin: 0px;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    background-color: var(--viola-color);
    width: 190px;
    padding: 20px;
    margin: 30px;
}
