:root {
  --weiss-color: #fefdfe;
  --lighblue-color: #c8e1dc;
  --dunkel-color: #010301;
  --viola-color: #34416a;
  --aqua-color: #37a691;
  --gialo-color: #e0d05f;
}

.navbar{
    width: 100%;
    background-color: transparent;
    position: absolute;
    padding-top: 20px;
}

.bar{
    display: flex;
    justify-content: space-between;
}

h1{
    display: block;
    margin: 0px;
    margin-top: 15px;
    margin-left: 45px;
    color: var(--weiss-color);
}

.navbar ul{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--weiss-color);
}

h1 a{
  text-decoration: none;
  color: var(--lighblue-color);
}

.navbar li{
    list-style: none;
    margin: 10px;
    margin-right: 60px;
}

.navbar ul a{
    text-decoration: none;
    color: var(--lighblue-color);
    font-size: 18px;
    transition: all 300ms;
    padding: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar ul a:hover{
  color: var(--gialo-color);
  border: 2px solid var(--gialo-color);
}

ul .active{
  color: var(--weiss-color);
  border: 2px solid var(--weiss-color);
}

