.search{
    background-image: url("../../assets/vegan.jpeg");
    background-size: cover;
    color: var(--weiss-color);
    min-height: 1000px;
}

.search h1{
    margin: 0px;
    padding: 0px;
    padding-bottom: 25px;
    padding-top: 115px;
    background-color: var(--aqua-color);
}

